
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background: url('../images/Beach.jpg');
  background-repeat: repeat-y;

}


#add-to-order-btn {
  background-color: #91b3ab;
}

.priceofitems {
  list-style-type: none;
  float: right;
}

.order-item-price {
  float: right;
}

.orderconfirmation {
  font-weight: bolder;
  text-align: center;
  color: blue;
  padding-bottom: 50px;
}

.itemmenulistedprice{
list-style-type: none;
}

.menulistingprice{
  font-weight: bold;
  list-style-type: none;
}

.menuitemdescription {
  padding-top: 15px;
  color: red;
  font-weight: bold;
}

.nameofplace {
  color: white;
  text-shadow: 2px 2px blue;
  font-weight: bold;
}

.addressofplace {
  color: white;
  text-shadow: 2px 2px #F08080 ;

}

.listingitems {
  color: blue;
  font-weight: bold;
}

.priceofitems {
  color: green;
  font-weight: bold;
}

.itemmenulistedprice{
  list-style-type: upper-roman;
}

.totalamount {
  color: white;
  font-size: 25px;
  font-weight: bolder;
}

.cookscolornametitle {
  color: white;
}

.well{
  opacity: 0.9;
    min-height: 20px;
    margin-bottom: 12px;
    background: linear-gradient(to right bottom, #9ACD32 20%, pink 80%);

    background-color: #9ACD32;
    border: 3px solid red;
    border-radius: 70px;
}

.entreecolortitle {
  color: white;
  text-shadow: 2px 2px #C7006B;
  font-weight: bold;
}

.image {
    max-width: 100%;
    height: 128px;
}

.foodimage {
  opacity: 0.8;
  background-color: red;
  border: 3px solid #9ACD32;
}

.backgroundusercolor {
  background: linear-gradient(to right bottom, white 30%, pink 70%);
}

.colorfoodtitle {
  color: white;
  font-weight: bold;
}
